OBSERVATORY_STORAGE_ACCESS_KEY_ID=
OBSERVATORY_STORAGE_SECRET_ACCESS_KEY=
OBSERVATORY_STORAGE_BUCKET=
OBSERVATORY_STORAGE_ENDPOINT=
OBSERVATORY_STORAGE_REGION=
OBSERVATORY_STORAGE_VIRTUAL_HOSTED_STYLE=false
